/export_milvus.py
qgpt_T1_MTLV_mimo_ch.db
qgpt_T1_MTLV_mimo_en.db
__pycache__/utils.cpython-311.pyc
qgpt_T1_MTLV_mimo_ch_2k_token.db
qgpt_T1_MTLV_mimo_ch_1k_token.db
qgpt_T1_MTLV_mimo_en_1k_token.db
__pycache__/query_evaluator.cpython-311.pyc
qgpt_T1_MTLV_mimo_ch_5k_token.db
qgpt_T1_MTLV_mimo_ch_top10_rows.db
qgpt_T1_MTLV_mimo_en_2k_token.db
qgpt_T1_MTLV_mimo_en_5k_token.db
qgpt_T1_MTLV_mimo_en_top10_rows.db
qgpt_T3_mimo_en_TR_desc_only.db
qgpt_T3_mimo_en_TR_header_only.db
qgpt_T3_mimo_en_TR_pT.db
qgpt_T3_mimo_en_TR_QG_only.db
qgpt_T3_mimo_en_TR_QGpT.db
qgpt_T5SingleTRetrievalpTE2EWT.db
qgpt_T5SingleTRetrievalpTFetaQ.db
qgpt_T5SingleTRetrievalpTMiMoT.db
qgpt_T5SingleTRetrievalpTOTTQA.db
qgpt_T5SingleTRetrievalQGpTE2E.db
qgpt_T5SingleTRetrievalQGpTFet.db
qgpt_T5SingleTRetrievalQGpTMiM.db
qgpt_T5SingleTRetrievalQGpTOTT.db
qgpt_T6MultiTRetrieval2tablesc.db
qgpt_T6MultiTRetrieval3tablesc.db
qgpt_T7_OTTQA_OTTQA_pT.db
qgpt_T7_OTTQA_OTTQA_QG_wo_titles.db
qgpt_T7OTTQAOTTQAQGwithtitles.db
